#navbar {
    height: 10vh;
    width: 100vw;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: firebrick;
    border: 1px solid darkgray;
  }

  .navbar-links {
    display: flex;
    gap: 20px;
  }

.user-info {
  margin-right: 20px;
  font-size: 30px;
  font-weight: bolder;
  color: antiquewhite;
} 

button {
  height: 40px;
  width: 150px;
}