.profile-public-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    box-sizing: border-box;
}

.public-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    border: 1px solid blue;
    background-color: antiquewhite;
    margin: 10px 0;
    padding: 20px;
    box-sizing: border-box;
}

.public-issues-title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 50px;
    text-shadow: 
        -1px -1px 0 rgb(105, 163, 163),  /*top L mvs 1px L & 1px up w/ 0 blur effect w/ Brdr color*/
        1px -1px 0 rgb(105, 163, 163), /*top R mvs 1px R & 1 px up w/ 0 blur effect w/ Border color*/
        -1px  1px 0 rgb(105, 163, 163), /*btm L mvs 1px L & 1px dwn w/ 0 blur effect w/ Border color*/
        1px  1px 0 rgb(105, 163, 163); /* btm R mvs 1px R & 1px dwn w/ 0 blur effect w/ Border color */
    color: firebrick;    
    background-color: bisque;
}



.comments-section {
    margin-top: 20px;
    text-align: center;
}

.comments-list {
    height: auto;
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.comment-item {
    margin-left: 12px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
}

textarea {
    width: 80%;
    height: 60px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
}

button {
    padding: 10px 10px;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    background-color: rgb(35, 74, 133);
    color: bisque;
    cursor: pointer;
    height: auto;
}

button:hover {
    background-color: rgb(105, 163, 163);
}