.public-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.public-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: flex;
    width: 1200px;
    border: 1px solid blue;
    background-color: antiquewhite;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
}

.public-title {
    margin-top: 30px;
    font-weight: bolder;
    font-style: italic;
    font-size: 40px;
}

.public-issues-title {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 50px;
    color: firebrick;    
}

.public-issues-breakline {
    margin: 0;
    margin-top: 20px ;
    margin-bottom: 15px;
    width: 80%;
    border: none;
    border-top: 2px dashed blue;
}
.issue-list-container {
    margin-top: 30px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    align-items: center;
    border: 2px solid antiquewhite;
    background-color: bisque;
    color: black;
}

.issues-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
    border-radius: 5px;
    width: 80%;
    height: auto;
    align-items: center;
    background-color: rgb(105, 163, 163);
}

.issues-item {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.issue-title {
    margin-bottom: 10px;
}

.issue-description {
    margin-top: 5px;
}

.issue-author {
    margin-top: 10px;
    color: firebrick;
}

.vote-buttons-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
}

.vote-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(105, 163, 163);
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.vote-button:hover {
    background-color: rgb(105, 163, 163);
}

.vote-icon {
    width: 20px;
    height: 20px;
}

.vote-count {
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
}