/* applianceparts.css */

.appliance-parts-row {
    margin: 30px;
    padding: 2px;
    border: 1.5px solid black;
    max-width: 1600px;
  }
  
  .appliance-parts-search-container {
    text-align: center;
  }
  
  .appliance-parts-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  