/*footer css code*/

.mainfooter {                             /*styling for footer on DOM*/
    /* position: fixed;
    bottom: 0;
    left: 0; */
    width: 100%;
    background-color: #594D5B;
    padding: 5px;
    text-align: center;
    height: 5vh;
  }
  
  .footer-top-row {
    display: flex;
    justify-content: space-around;
    background-color: #594D5B;
    align-items: center;
  }
  
  .footer-bottom-row {
    display: flex;
    background-color: #594D5B;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3vh;
  }
  
  .footer-left-column {
    background-color: #594D5B;
  }
  


  .footer-center-column {
    margin: 0;
    padding: 0;
  }
  
  .footer-left-column a {
    background-color: bisque;
    color: black;
  }

  .footer-right-column {
    height: 45px;
    width: 100px;
    background-color: #594D5B;
  }

.mainfooter small {
    background-color: #594D5B;
    color: bisque;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  /*footer social media stuff*/
  .social-media-links{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: .5rem 0 1.5rem 0;
    background-color: #594D5B;
    width: 200px;
  }
  
  .facebook, .twitter, .tiktok, .instagram {
    background-color: #594D5B;
    height: 40px;
    width: 40px;
  }

  .about-info, .contact-info, .careers-info  {
    height: 15px;
    width: 40px;
    background-color: #594D5B;
    border: 1px solid black;
    color: black;
  }
  
  .column {
    flex: 1;
  }

/* Media Queries*/

@media (max-width: 768px) {
  .footer-top-row {
    flex-direction: column;
  }
  .social-media-links {
    flex-direction: column;
  }
}