/* inventoryitem.css */

.inventory-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 10px;
  overflow: hidden;
  transition: transform 0.2s;
  background-color: #fff;
  text-align: center;
}

.inventory-item:hover {
  transform: translateY(-5px);
}

.item-image {
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-image img {
  width: 125px;
  height: 175px;
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
}

.item-info {
  padding: 10px;
}

.item-title {
  font-size: 1.1em;
  font-weight: bold;
  margin: 5px 0;
}

.item-description {
  font-size: 0.8em;
  margin: 5px 0;
  color: #555;
}

.item-price {
  font-size: 1em;
  font-weight: bold;
  margin: 10px 0;
}

.item-price-label {
  color: #333;
}

.item-price-amount {
  color: #b12704;
}

.item-part-number, .item-manufacturer, .item-genre, .item-year-published,
.item-publisher, .item-pages, .item-cover, .item-author, .item-brand {
  font-size: 0.8em;
  margin: 5px 0;
  color: #333;
}

/* Media Queries */
@media (max-width: 768px) {
  .inventory-item {
      width: 200px;
      height: auto;
  }
  .item-image img {
      width: 100px;
      height: 140px;
  }
  .item-info {
      padding: 5px;
  }
  .item-title {
      font-size: 1em;
  }
  .item-description {
      font-size: 0.7em;
  }
  .item-price {
      font-size: 0.9em;
  }
}
