/* pets.css */

.pets-row {
  margin-top: 25px;
  margin-left: 200px;
  margin-right: 100;
  padding: 2px;
  border: 1.5px solid black;
  max-width: 75%;
}
  
.pets-search-container {
  text-align: center;
  background-color: #594D5B;
}
  
.pets-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  gap: 5px;
  background-color: maroon;
}
  
h1 {
  background-color: orange;
  border: 2px solid maroon;
}