.smapp-currentissues-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #434044;
}

.smapp-main-content {
    display: flex;
    flex: 1;
    padding: 10px;
    background-color: #434044;
    margin-top: 100px; /* Space for the top row */
}

.smapp-left-column {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.smapp-comments-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #5c5a5f;
    padding: 10px;
    border-radius: 10px;
    width: 1310px;
    margin-bottom: 75px;
    margin-left: 173px;
    margin-right: 170px;
}

.smapp-right-column {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    bottom: 50px; /* Adjust based on the footer height */
    right: 0;
    overflow-y: auto;
    border-left: 2px solid orangered; /* Adds a border to separate the right column */
    background-color: #434044;
}

.smapp-top-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: antiquewhite;
    height: 100px;
    border-top: 2px solid orangered;
    border-bottom: 2px solid orangered;
    position: fixed;
    top: 0;
    left: 175px; /* Adjust based on the sidebar width */
    right: 400px; /* Adjust based on the right column width */
}

.currentissues-title {
    margin: 0;
    background-color: transparent;
    font-size: 3.5rem;
    text-align: center;
    color: #434044;
    text-shadow:
        1px 1px 0px orangered,
        -1px -1px 0px antiquewhite,
        -1px 1px 0px orangered,
        1px -1px 0px antiquewhite,
        1px 0px 0px orangered,
        -1px 0px 0px antiquewhite,
        0px 1px 0px orangered,
        0px -1px 0px antiquewhite;
    width: 100%;
}

.smapp-adsbox, .smapp-chatbox {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #5c5a5f;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid antiquewhite;
}

.smapp-chatbox {
    margin-bottom: 30px; /* Adds space between the chat box and the footer */
}

.section-header {
    font-size: 1.5rem;
    color: antiquewhite;
    margin-bottom: 10px;
    text-align: center;
}

.smapp-ads-container, .smapp-chat-container {
    flex: 1;
    background-color: #434044;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid antiquewhite;
}
