.footer-bottom-row {
  background-color: #434044;
  border: 2.5px solid orangered;
  color: antiquewhite;
  padding: .5rem;
  text-align: center;
  position: fixed;
  bottom: 7px;
  left: 7px;
  right: 7px;
  z-index: 1000;  
}
  
.footer-nav {
  display: flex;
  width: 95%;
  justify-content: space-around;
  margin-bottom: .5rem;
  flex-wrap: wrap;
}
  
.item {
  color: bisque;
  font-style: italic;
  text-decoration: none;
  margin: 0.5rem;
  background-color: #434044; 
  justify-content: space-between;
}
  
.item-about-info {
  color: bisque;
}

.item:hover {
  color: orangered;
  text-decoration: underline;
}
  
small {
  text-align: center;
  color: bisque;
  font-style: italic;
  background-color: #434044;
}

.smapp-appname {
  color: orangered;
  font-size: 12px;
  font-style: italic;
}

.smapp-coname {
  color: orangered;
  font-size: 14px;
  font-style: italic;
}

