html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    background-color: white;
}

.aconxn-content {
    width: 100%;
    margin: 0;
    padding: 0;
}

.home-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 2rem;
    background-color: #434044;
    min-height: calc(100vh - 100px); /* Adjust this if footer height changes */
}

.smapp-title {
    font-size: 5rem;
    position: relative;
    left: 20%;
    color: orangered;
    text-shadow:
     1px 1px 0px #434044,
    -1px -1px 0px antiquewhite,
    -1px 1px 0px #434044,
    1px -1px 0px antiquewhite,
    1px 0px 0px #434044,
    -1px 0px 0px antiquewhite,
    0px 1px 0px #434044,
    0px -1px 0px antiquewhite;
}

.smapp-title .trademark {
    font-size: 0.9rem;
    vertical-align: top;
    color: orangered;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        -1px 1px 0px black,
        1px -1px 0px black,
        1px 0px 0px orangered,
        -1px 0px 0px orangered,
        0px 1px 0px orangered,
        0px -1px 0px orangered;
}

.smapp-description {
    font-size: 25px;
    position: relative;
    left: 70%;
    transform: translateX(-40%);
    color: bisque;
}

.home-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.smapp-home-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(241, 93, 39);
}

.smapp-form-container {
    display: flex;
    flex-direction: column;
}

.smapp-home-login {
    background-color: #434044;
}

.smapp-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    justify-content: space-between;
    background-color: #434044;
}

.smapp-welcome-title {
    margin-bottom: 10px;
    font-size: 34px;
    text-shadow:
     0.5px 1px 0px #434044,
    -0.5px -1px 0px antiquewhite,
    -0.5px 1px 0px #434044,
    0.5px -0.5px 0px antiquewhite,
    0.5px 0px 0px #434044,
    -0.5px 0px 0px antiquewhite,
    0px 0.5px 0px #434044,
    0px -0.5px 0px antiquewhite;
    text-align: center;
    width: 100%;
}

.smapp-member-title {
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 34px;
    text-shadow:
     0.5px 1px 0px #434044,
    -0.5px -1px 0px antiquewhite,
    -0.5px 1px 0px #434044,
    0.5px -0.5px 0px antiquewhite,
    0.5px 0px 0px #434044,
    -0.5px 0px 0px antiquewhite,
    0px 0.5px 0px #434044,
    0px -0.5px 0px antiquewhite;
    text-align: center;
}

.login-button {
    background-color: antiquewhite;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 3px;
    width: 100%;
    height: 40px;
    color: #434044;
    font-size: 22px;
    text-shadow:
     1px 1px 0px antiquewhite,
    -1px -1px 0px antiquewhite,
    -1px 1px 0px antiquewhite,
    1px -1px 0px antiquewhite,
    1px 0px 0px black,
    -1px 0px 0px black,
    0px 1px 0px black,
    0px -1px 0px black;
    border-color: orangered;
    border-radius: 20px;
}

/* Style for create account button */
.create-account-button {
    background-color: antiquewhite;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100%;
    height: 40px;
    color: #434044;
    font-size: 22px;
    text-shadow:
     1px 1px 0px antiquewhite,
    -1px -1px 0px antiquewhite,
    -1px 1px 0px antiquewhite,
    1px -1px 0px antiquewhite,
    1px 0px 0px black,
    -1px 0px 0px black,
    0px 1px 0px black,
    0px -1px 0px black;
    border-color: orangered;
    border-radius: 20px;
}

.smapp-label-container {
    width: 75px;
}

input {
    margin-top: 10px;
    margin-left: 15px;
    background-color: antiquewhite;
    height: 40px;
    width: 250px;
    color: black;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    border-radius: 5px;
}



.smapp-input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.smapp-input-label {
    margin-left: 55px;
    font-size: 22px;
    margin-right: 10px;
    width: 100px;
    text-align: right;
}

.smapp-home-right {
    position: relative;
    padding-left: 10px;
    border-left: 1px solid antiquewhite;
    margin-left: 10px;
}

.smapp-tos-text, .smapp-pp-text, .smapp-cp-text {
    color: orangered;
    font-size: 14px;
}

.smapp-agreement-text {
    font-size: 14px;
    color: bisque;
    font-style: italic;
}
