.left-sidebar-container {
    width: 180px;
    color: antiquewhite;
    height: 88vh;
    position: fixed;
    top: 10px;
    left: 5px;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid orangered;

}

.left-sidebar.header {
    width: 90%;
    text-align: center;
    padding: 10px;
}

.left-sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-sidebar-item {
    color: antiquewhite;
    text-decoration: none;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.left-sidebar-title {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    position: relative;
    color: orangered;
    text-shadow: 
     1px 1px 0px #434044, 
    -1px -1px 0px antiquewhite, 
    -1px 1px 0px #434044, 
    1px -1px 0px antiquewhite,
    1px 0px 0px #434044, 
    -1px 0px 0px antiquewhite, 
    0px 1px 0px #434044, 
    0px -1px 0px antiquewhite;
}

.left-sidebar-trademark {
    font-size: 12px;
    text-shadow: 
        1px 1px 0px black, 
        -1px -1px 0px black, 
        -1px 1px 0px black, 
        1px -1px 0px black,
        1px 0px 0px orangered, 
        -1px 0px 0px orangered, 
        0px 1px 0px orangered, 
        0px -1px 0px orangered;
    vertical-align: top;
}

 .left-sidebar-footer {
    width: 100%;
    text-align: center;
    margin-top: auto;
}

.left-sidebar-footer-title {
    margin: 20px 0;
    font-size: 2rem;
    color: bisque;
    
}

.left-sidebar-logout-button {
    background-color: bisque;
    border: 1px solid orangered;
    color: #434044;
    font-weight: bold;
    font-style: italic;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.left-sidebar-footer-seperator {
    height: 1px;
    background-color: antiquewhite;
    margin: 10px 0;
    width: 98%;
}