.left-sidebar-container {
    width: 175px;
    color: antiquewhite;
    height: 91vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid orangered;
}

.left-sidebar.header {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.left-sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-sidebar-item {
    color: antiquewhite;
    text-decoration: none;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.left-sidebar-title {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    position: relative;
    color: orangered;
    text-shadow: 
     1px 1px 0px #434044, 
    -1px -1px 0px antiquewhite, 
    -1px 1px 0px #434044, 
    1px -1px 0px antiquewhite,
    1px 0px 0px #434044, 
    -1px 0px 0px antiquewhite, 
    0px 1px 0px #434044, 
    0px -1px 0px antiquewhite;
}

.left-sidebar-trademark {
    font-size: 12px;
    text-shadow: 
        1px 1px 0px black, 
        -1px -1px 0px black, 
        -1px 1px 0px black, 
        1px -1px 0px black,
        1px 0px 0px orangered, 
        -1px 0px 0px orangered, 
        0px 1px 0px orangered, 
        0px -1px 0px orangered;
    vertical-align: top;
}